<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>sku-war</display-name>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>BGBA</realm-name>
  </login-config>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>sku</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>ROLE_USER</role-name>
    </auth-constraint>
  </security-constraint>
  <security-role>
    <role-name>ROLE_USER</role-name>
  </security-role>
</web-app>