<form name="thisForm" class="form" role="form">
	<div class="row">
		<div class="col-md-12">
			<div class="panel-group">
				<div class="panel panel-primary">
					<div class="panel-heading">Alta de combo</div>
					<div class="panel-body form-horizontal payment-form">
						<div class="form-group">
							<label class="col-md-3 control-label">Producto base</label>
							<div class="col-md-9">
								<input name="productoBase" type="text" class="form-control"
									ng-model="combo.itemBase.producto.sku" required /> <input
									name="productoBase" type="number" min="1" class="form-control"
									ng-model="combo.productoBase.cantidad" required />
								<div style="color: red"
									ng-show="thisForm.productoBase.$dirty && thisForm.productoBase.$invalid">
									<div ng-show="thisForm.productoBase.$error.required">
										<span>El producto base es requerido</span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label">Productos
								adicionales</label>
							<div class="col-md-9">
								<div ui-grid="gridOptions" class="grid"></div>
								<div>
									<button type="button" id="btnAgregar"
										class="btn btn-primary btn-block"
										ng-click="agregarItemAGrilla()">
										<span class="glyphicon glyphicon-search"></span> Agregar item
									</button>
								</div>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-12 text-right">
								<button type="button" id="btnAgregar"
									class="btn btn-primary btn-block" ng-click="save()"
									ng-disabled="thisForm.$invalid">
									<span class="glyphicon glyphicon-search"></span> Guardar
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>

<script type="text/ng-template" id="modificarItem.html">
      <div class="ui-grid-cell-contents">
        <button class="btn" type="button" ng-click="grid.appScope.Main.modificarItem(COL_FIELD)">Modificar</button>
      </div>
    </script>